/**
 * Custome theme for reveal.js. This is the based of the 'white' theme.
 *
 * By Patrick Spiegel, https://patrick-spiegel.de
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat');


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fafafa;

$mainColor: #3f3f3f;
$headingColor: #3f3f3f;

$mainFontSize: 42px;
$mainFont: 'Montserrat', 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Montserrat', 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #00a990;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

a.branding {
	display: block;
	font-size: 1.3em;
	background-image:linear-gradient( to top right, #009980, #00d9c0);
	color: white;
	text-decoration: none;
	font-family: 'Montserrat', 'Source Sans Pro', Helvetica, sans-serif;
	background-color: #00a990;
	border-bottom-left-radius: 1em;
	border-top-right-radius: 1em;
	position: absolute;
	bottom: 0;
	left: 0;
	border: 0;
	margin: 1em;
	padding: .5em .4em;
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal em {
	color: #00a990;
	font-style: normal;
}